{% extends 'main.html'%}
{%block content%}

<div class="login-container">
  {% if page == 'Login'%}
<form action="" class="login-form" method="post">
  {% csrf_token%}
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
      <div class="input-group">
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
          <button class="btn btn-outline-secondary" type="button" id="togglePassword">
              <i class="fas fa-eye-slash"></i>
          </button>
      </div>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <small>Don't have an account? <a href="{% url 'Register' %}">Register</a></small>
  </form>
  {%else%}
  <form action="{% url 'Register'%}" method="POST" class="login-form">
    {% csrf_token%}
    <div class="mb-3 mt-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" required>
    </div>
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="pwd" class="form-label">Enter Password:</label>
        <div class="input-group">
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password1" required>
            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                <i class="fas fa-eye-slash"></i>
            </button>
        </div>
    </div>

      <div class="mb-3">
        <label for="pwd" class="form-label">Confirm Password:</label>
        <div class="input-group">
            <input type="password" class="form-control" id="pwd" placeholder="Confirm password" name="password2" required>
            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                <i class="fas fa-eye-slash"></i>
            </button>
        </div>
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <small>Already have an Account?<a href="{% url 'Login' %}">Login</a></small>
    </form>
  {% endif %}
</div>
  {%endblock%}