{%extends 'main.html'%}
{% block content%}
{% if page%}
<form action="" method="post">
    {%csrf_token%}
    <p>Are You Sure You Sure You want to delete "{{obj}}" ?</p>
    <a href="{{request.META.HTTP_REFERER}}">Go Back</a><!--takes us back to the page we came from when you click go back-->
    <input type="submit" value="confirm">
</form>
{%else%}
<form action="{% url 'delete-message' pk=obj.id room_id=room_id %}" method="post">
    {%csrf_token%}
    <p>helppppp</p>
    <p>Are You Sure You Sure You want to delete "{{obj}}" ?</p>
    <a href="{{request.META.HTTP_REFERER}}">Go Back</a><!--takes us back to the page we came from when you click go back-->
    <input type="submit" value="confirm">
</form>
{%endif%}
{%endblock content%} 