
<div>
    {%for room in rooms%}
    <div>{% if request.user == room.host%}<!--for every room it checks its host if is the same as the logged in user if its the same then for that room we will display the update and delete option-->
        <h3><a href="{% url 'updateroom' room.id%}">Edit</a><h3>
        <h3> <a href="{% url 'deleteroom' room.id%}">Delete</a> </h3>
         {%endif%}
         <a href="{% url 'user-profile' room.host.id%}"><span>@ {{room.host.username}}</span></a>
        <h5>{{room.id}}--<a href="/room/{{room.id}}">{{room.name}}</a></h5>
        <small>{{room.topic.name}}</small>
        <hr>
    </div>
    {%endfor%}
</div>