{% extends "main.html"%}

{%block content%}

<style>
    .home-container{
        display: grid;
        grid-template-columns:1fr 2fr 2fr
    }
</style>
<br>
<div class="home-container">
    {% include 'base/topic_components.html'%}
    <div>
        <h3><span>{{rooms_count}}</span>rooms available</h3>
        <a href="{%url 'createroom'%}">Create Room</a>
{% include 'base/feed_components.html'%}
</div>
<div>
{% include 'base/activity_components.html' %}
</div>
</div>
{%endblock%}